<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Discord with Vencord Portable</string>
    <key>CFBundleExecutable</key>
    <string>DiscordWithVencordPortable</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.qiuyunfei.discord-with-vencord-portable</string>
    <key>CFBundleName</key>
    <string>Discord with Vencord Portable</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.1</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>Discord with Vencord Portable needs to update Discord.app's app.asar wrapper so Vencord can load before Discord starts.</string>
</dict>
</plist>
